<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>home</title>


    <!--  javaScripts -->
    <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/LoginAjax.js"></script>


    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style type="text/css">

        html, body {
            height: 100%;
        }

        #container {
            min-height: 50%; /*使内容高度和body一样*/
            margin-bottom: 70px; /*向上缩减70像素，不至于footer超出屏幕可视范围*/
        }

        label {
            margin: 5px;
        }

        .slider {
            height: 610px;
        }

        img {
            height: 610px;
        }
    </style>


    <script src="../js/cookie.js"></script>
    <script src="../js/writeHTML.js"></script>
    <script src="../js/xmlhttp.js"></script>

    <script>
        function func() {
            var window_height = $(window).height();
            var header_height = $("header").outerHeight();
            var height = window_height - header_height;
            $(".slider").css("height", height);
            $(".slides").css("height", height);
            $("img").css("height", height);
        }

    </script>


</head>
<body onload="func();" onresize="func()">

<header></header>
<script type="text/javascript">
    write_header();
</script>
<div class="main" id="div1">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="../images/2.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3 style="color: black;font-family: 楷体" >个人健康管理系统</h3>
                    <h5 class="light black-text text-lighten-3">@2015 winsky </h5>
                </div>
            </li>
            <li>
                <img src="../images/1.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3 style="color: black;font-family: 楷体" >个人健康管理&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                    <h4 class="light black-text text-lighten-3 ">
                        健康得力助手
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>


</body>
</html>